@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Quicksand:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Playfair+Display+SC:ital,wght@0,400;0,700;0,900;1,400;1,700;1,900&family=Quicksand:wght@300..700&display=swap');



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;

    font-family: "Josefin Sans", sans-serif !important;
}



/*

.josefin-sans-<uniquifier> {
  font-family: "Josefin Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}
*/


#nosCasamos_id {
    height: 100vh;
    padding: 0 !important;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: 1fr 3fr 1fr;
    text-align: center;
    color: #fff;
    background-image: url(../assets/img/header-bg.jpg);
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center center;
    background-size: cover;
}



.nosCasamos {
    font-family: "Quicksand", sans-serif;
    font-style: normal;
    font-size: 2rem;
}

#nosCasamosFecha {
    font-size: 1.1rem;
}

.nombresDD {
    font-family: "Playfair Display SC", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 6rem;
    height: 8rem;
}



/*--------------musica----------------------------------------------*/

.audio.green-audio-player {
    width: 6rem;
    min-width: 300px;
    height: 3rem;
    box-shadow: 0 4px 16px 0 rgba(0, 0, 0, 0.07);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 1rem;
    padding-right: 0.5rem;
    border-radius: 2rem;
    user-select: none;
    -webkit-user-select: none;
    background-color: #0000005b;
    margin-top: 5%;
    position: relative;
    left: 5%;
}

.audio.green-audio-player .play-pause-btn {
    cursor: pointer;
}

.audio.green-audio-player .slider {
    flex-grow: 1;
    background-color: #b5c7bb;
    cursor: pointer;
    position: relative;
}

.audio.green-audio-player .slider .progress {
    background-color: #44bfa3;
    border-radius: inherit;
    position: absolute;
    pointer-events: none;
}

.audio.green-audio-player .slider .progress .pin {
    height: 16px;
    width: 16px;
    border-radius: 8px;
    background-color: #44bfa3;
    position: absolute;
    pointer-events: all;
    box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.32);
}

.audio.green-audio-player .controls {
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    line-height: 18px;
    color: #55606e;
    display: flex;
    flex-grow: 1;
    justify-content: space-between;
    align-items: center;
    margin-left: 24px;
    margin-right: 24px;
}

.audio.green-audio-player .controls .slider {
    margin-left: 16px;
    margin-right: 16px;
    border-radius: 2px;
    height: 4px;
}

.audio.green-audio-player .controls .slider .progress {
    width: 0;
    height: 100%;
}

.audio.green-audio-player .controls .slider .pin {
    right: -8px;
    top: -6px;
}

.audio.green-audio-player .controls span {
    cursor: default;
}

.audio.green-audio-player .volume {
    position: relative;
}

.audio.green-audio-player .volume .volume-btn {
    cursor: pointer;
}

.audio.green-audio-player .volume .volume-btn .open path {
    fill: #44bfa3;
}

.audio.green-audio-player .volume .volume-controls {
    width: 30px;
    height: 135px;
    background-color: rgba(0, 0, 0, 0.62);
    border-radius: 7px;
    position: absolute;
    left: -3px;
    bottom: 52px;
    flex-direction: column;
    align-items: center;
    display: flex;
}

.audio.green-audio-player .volume .volume-controls.hidden {
    display: none;
}

.audio.green-audio-player .volume .volume-controls .slider {
    margin-top: 12px;
    margin-bottom: 12px;
    width: 6px;
    border-radius: 3px;
}

.audio.green-audio-player .volume .volume-controls .slider .progress {
    bottom: 0;
    height: 100%;
    width: 6px;
}

.audio.green-audio-player .volume .volume-controls .slider .progress .pin {
    left: -5px;
    top: -8px;
}



/*---------------------------------------------contador dias---------------------------------------------------*/
.contadorDias {
    font-weight: 200;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5vh 0;
    margin: 0;
    background-color: #b5c7bb;
    width: 100vw;
}

.contadorDiasDiv {
    width: 100%;
    height: 100%;
    text-align: center;
    display: flex;

}

.time {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 2%;
    font-size: 5vh;
    flex-wrap: wrap;
}

.unit {
    text-align: center;
    margin: 5px 3%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.number {
    font-size: 4rem;
    color: #333;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.label {
    color: #333;
    font-size: 80%;
}

/*------------ceremonia fiesta----------------------------------------------------*/

.divImg {
    width: 8rem;
    height: 8rem;
    margin: 0 auto;
}

.imagenCeremonia {
    width: 90%;

}

#services {
    padding: 10vh 0 3vh 0;
}

.pServices {
    width: 80%;
    margin: 0 auto;
    font-size: x-large;
}

.divServices {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.divServices h2 {
    font-size: 2.5rem;
    margin: 0;
}

.divServices div {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

/*----------------Fecha y lugar--------------------------*/

#fechaYlugar {
    padding-top: 0;
    padding-bottom: 2vh;

}

.imagenFechaYhora {
    width: 70%;
}

/*---------------Asistencia--------------------------------------------------*/
.sectionAsistencia {
    padding: 2rem 0;
}

.btnConfirmacion,
.btnMapa,
.btnCalendario {
    margin: 0 5vw;
    text-transform: uppercase;
    color: #b5c7bb;
    cursor: pointer;

}

.ceremoniaP,
.regaloP {
    font-size: x-large;
}

#asistencia {
    padding: 0 10%;
}

.close-form {
    float: inline-end;
    width: 4%;
    background-color: white;
    padding: 0.5%;
    margin-right: 2%;
    margin-top: 2%;
    border-radius: 15%;
}

.close-form:hover {
    border: 1.5px solid black;
}

.close-form:active {

    border: 1.5px solid rgba(0, 0, 0, 0.212);
}




.asisitireDiv {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    max-width: 600px;
    max-height: 90vh;
    /* Limitar la altura máxima a 90% de la pantalla */
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease, visibility 0.3s ease;
    z-index: 1000;
    overflow: hidden;
    /* Ocultar desbordes */
}

.asisitire {
    width: 100%;
    height: 90vh;
    overflow-y: auto;
    /* Permitir desplazamiento interno */
}



.asisitireDiv.active {
    opacity: 1;
    visibility: visible;
}

.close-form {
    cursor: pointer;
    text-align: right;
}

/* Fondo semitransparente detrás del popup */
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease;
    z-index: 999;
}

.overlay.active {
    opacity: 1;
    visibility: visible;
}

/*---------------Nuestra historia--------------------------------------------------*/
.nuestraHistoriaImg {
    width: 8%;
}

.sectionNH {
    padding: 0 0 2rem 0;
    display: none;
}

/*--------------- regalo--------------------------------------------------*/
.regaloIMG {
    width: 10%;
    margin-bottom: 2vh;
}

.btnRegalo {
    color: #b5c7bb;
    cursor: pointer;
    margin: 0 5vw;
}

.regaloModal {
    display: none;
    /* Inicialmente oculta */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    /* Fondo oscuro */
    justify-content: center;
    align-items: center;
    z-index: 1000;
    /* Asegura que esté por encima de otros elementos */
}

.modalContent {
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    max-width: 500px;
    text-align: left;
    position: relative;
}

.closeModal {
    background-color: #b5c7bb;;
    color: white;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    border-radius: 5px;
}


/*-----------------playlist----------------------------------------------------------------*/
.btnMusica {
    color: #b5c7bb;
    margin: 0 5vw;
}



.musicaForm {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    max-width: 600px;
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);

    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease, visibility 0.3s ease;
    z-index: 1000;

}

.musicaForm iframe {
    width: 100%;
    height: 90vh;
    overflow-y: auto;
}

.musicaForm.active {
    opacity: 1;
    visibility: visible;
    overflow: hidden;
    padding: 0;

}

.close-musica {
    cursor: pointer;
    text-align: right;
    margin-bottom: 10px;
}

/* Fondo semitransparente detrás del modal */
.overlay-musica {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease;
    z-index: 999;
}

.overlay-musica.active {
    opacity: 1;
    visibility: visible;
}




/*--------------- galeria gracias--------------------------------------------------*/
#galeriaGracias {

    background-color: #b5c7bb81 !important;
    padding: 0 0 2rem 0;
}

#galeriaGracias div div div {
    margin: 1.5vh 0;
}



/*--------------- te esperamos--------------------------------------------------*/
.teEsperamos {
    padding: 5vh 0 2vh 0;
    background-color: #b5c7bb81 !important;


}

.teEsperamos div div div h2 {
    font-family: "Playfair Display SC", serif;
    font-weight: 600;
    font-style: italic;
    font-size: larger;

}

.losEsperamosDiv {
    padding-bottom: 1vh;
}

.losEsperamosBack {

    padding: 8vh 0 2vh 0;
    height: 70vh;
    background-image: url(../assets/img/backSec22.jpg);
    background-size: cover;
    background-position: bottom;
    background-color: rgba(255, 255, 255, 0.5);
    /* Color de la máscara */
    background-blend-mode: lighten;

    background-attachment: fixed;

}

.losEsperamosBack div div div h2 {
    font-family: "Playfair Display SC", serif;
    font-weight: 600;
    font-style: italic;
    font-size: larger;
    margin: 3vh 0 0 0 !important;

}



/*--------------- footer--------------------------------------------------*/
footer {
    display: none;
}




/*---------------------media query-----------------------------------------*/

.celdaAjuste {
    display: none;
}


@media (max-width: 576px) {
    #nosCasamos_id {
        grid-template-columns: 1fr 2fr 1fr;
        grid-template-rows: 1fr 6fr 1fr;
    }

    .audio.green-audio-player {

        background-color: #00000027;
        margin-top: 5%;
        position: relative;
        left: 5%;
    }

    .celda2 {
        display: none;
    }

    .celdaAjuste {
        display: block;
    }

    .musicaControl {
        position: relative;
        margin-top: 10% !important;
        left: 0 !important;
    }

    .nombresDD {
        padding: 0 5%;
        line-height: 5rem;
        height: 16rem;
    }

    .contadorDiasDiv {
        padding: 0 2%;
    }

    .unit {
        margin: 5px 1%;
    }

    .time {
        gap: 0;
    }

    .number {
        font-size: 3rem;
    }

    .label {
        font-size: 1.5rem;
    }

    .imagenCeremonia {
        margin: 0 0 0 1vh !important;
    }

    .ceremoniaSubTitulo,
    .pServices,
    .ceremoniaP,
    .regaloP {
        font-size: 1.8rem !important;
    }

    .regaloP {
        padding: 0 1vw;
    }

    #asistencia {
        padding: 0 5%;
    }

    .asistenciaTitulo {
        font-size: 1.9rem !important;
    }

    .btnConfirmacion,
    .btnMusica,
    .btnRegalo,
    .btnMapa,
    .btnCalendario {
        font-size: 1.3rem !important;
        display: block;
        margin-top: 2vh !important;
    }

    .margin_top {
        margin-top: 3vh;
    }

    .regaloIMG {
        width: 28vw !important;
    }

    #regalo {
        padding: 0 1%;
    }

    #playlist {
        margin: 5vh 0;
        padding: 0 1%;
    }

    .losEsperamosBack {
        padding-top: 0 !important;
        height: 64vh !important;
        background-image: url(../assets/img/backSec22222.jpg) !important;
        background-size: contain !important;
        background-repeat: no-repeat;
        background-position: bottom !important;
    }
}


/*-----------------------tablet------------------------*/


@media screen and (min-width: 600px) and (max-width: 1024px) {
    #nosCasamos_id {
        grid-template-columns: 1fr 2fr 1fr;
        grid-template-rows: 1fr 6fr 1fr;
    }

    .audio.green-audio-player {
        background-color: #00000027;
    }

    .celda2 {
        display: none;
    }

    .celdaAjuste {
        display: block;
    }

    .musicaControl {
        margin: 10% auto !important;
        height: 4rem !important;
    }

    .nosCasamos,
    #nosCasamosFecha {
        font-size: 2.5rem;
    }

    .nombresDD {
        padding: 0 5%;
        line-height: 9rem;
        font-size: 11rem;
        height: 28rem;

    }

    .number {
        font-size: 6rem;
    }

    .contadorDiasDiv {
        padding: 0 5%;
    }

    .unit {
        margin: 5px 1%;
    }

    .time {
        gap: 1%;
    }

    .number {
        font-size: 6rem;
    }

    .label {
        font-size: 3rem;
    }

    #fechaYlugar div div div {
        display: block;
    }

    .divImg {
        width: 20VW;
        height: 15vh;
    }

    .imagenCeremonia {
        margin: 0 0 0 1vh !important;
    }

    .ceremoniaSubTitulo,
    .pServices,
    .ceremoniaP,
    .regaloP {
        font-size: 2.6rem !important;
    }

    .regaloP {
        padding: 0 1vw;
    }

    .btnConfirmacion,
    .btnMusica,
    .btnRegalo,
    .btnMapa,
    .btnCalendario {
        text-transform: uppercase;
        font-size: 1.4rem !important;
        display: block;
        margin-top: 2vh !important;
    }

    .margin_top {
        margin-top: 3vh;
    }

    .lugar {
        margin-top: 0 !important;
    }

    .regaloIMG {
        width: 20vw !important;
    }

    .losEsperamosBack {
        padding-top: 0 !important;
        height: 62vh !important;
        background-image: url(../assets/img/backSec2222.jpg) !important;
        background-size: contain !important;
        background-repeat: no-repeat;
        background-position: bottom !important;
    }

    .losEsperamosDiv {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .losEsperamosDiv h2 {
        font-size: 5rem !important;
    }

    .graciasP {
        font-size: 4rem !important;
    }

    .anillosImg {
        position: absolute;
        bottom: 3vh;

    }

}

